<div class="page_row">
					
	<span class="row_meta"><%=prefix if defined? prefix%><%=link_to menu_item.name,edit_spud_admin_menu_menu_item_path(:id => menu_item.id)%></span>

	<span class="edit_controls"><%=link_to "Edit",edit_spud_admin_menu_menu_item_path(:id => menu_item.id), :title => "Edit Menu Item",:class => 'button'%>&nbsp;&nbsp;<%=link_to "Remove",spud_admin_menu_menu_item_path(:id => menu_item.id),:method => :delete,:class => 'button',:confirm => "Are you sure you want to remove this menu item?"%></span>
	<br style="clear:both;"/>
</div>
<%if !menu_item.spud_menu_items.order(:menu_order).all.blank?%>
	
		<div class="left_guide">
	
	<%menu_item.spud_menu_items.each do |menu_item|%>
		<%=render :partial => 'menu_item_row',:locals => {:menu_item => menu_item}%>
	<%end%>
	
		</div>
	
<%end%>