<%=error_messages_for(f.object)%>
<fieldset>
  <legend>Page Title</legend>
  <p>
    	<%=f.label :name, :required=>true, :style => "display:none;" %>
      <%=f.text_field :name, :class => "full-width" %>
  </p>
</fieldset>
<div id="page_partials_form" class="formtabs">
	<ul class="formtab_buttons">
	</ul>
	<%=f.fields_for :spud_page_partials do |b|%>
		<div class="formtab">
			<%=b.hidden_field :name,:class => "tab_name"%>
			<%=b.text_area :content,:class => "wysiwym"%>
		</div>
	<%end%>
</div>
<br />
<fieldset>
  <legend>Advanced Settings (optional)</legend>
  <ol>
     <%if Spud::Cms.templates_enabled%>
    	<li>
      	
      	<%=f.label :template_id, "Template"%>
      	<%=f.select :template_id, options_for_select(SpudTemplate.all.collect{|tp| [tp.name,tp.id]},@page.template_id), {:include_blank => 'Default'},{:title => "", 'data-source' => page_parts_spud_admin_pages_path(:page => @page.id) }%>
  	  </li>
      <%end%>
    <li>
      
      <%=f.label :spud_page_id, "Parent Page"%>
      <%=f.select :spud_page_id,options_for_select(SpudPage.options_tree_for_page(:filter => @page),@page.spud_page_id),{:include_blank => 'None'},{:title => ""}%>
    </li>
    <li>
      
      <%=f.label :url_name, "Perma Link",:disabled => true%>
      <%=root_url%><%=f.text_field :url_name,:title => "",:size=>20%><%=f.check_box :use_custom_url_name,:onchange => "$('#spud_page_url_name').attr('disabled',!this.checked);"%>
    </li>
  </ol>
</fieldset>
<fieldset>
  <legend>Meta Information (optional)</legend>
  <p>These fields are used to notify search engines about important keywords and the appropriate description to display in a search result.</p>
  <ol>
    <li>
      <%=f.label :meta_keywords,"Keywords"%>
      <%=f.text_field :meta_keywords,:title => "" %>
      
    </li>
    <li>
      <%=f.label :meta_description,"Description"%>
      <%=f.text_area :meta_description,:rows => 4,:cols=>75%>
      
    </li>
    <li>
      <%=f.label :visibility%>
  		<%=f.select :visibility, [["Public",0],["Private",1]]%>
  	</li>
  	<li>
      <%=f.label :published%>
  		<%=f.check_box :published%>
  	</li>
    <li>
      <%=f.label :notes,"Notes"%>
      <%=f.text_area :notes,:rows => 4,:cols=>75 %>
    </li>
  </ol>
</fieldset>

