
  

  <%=form_for @media,:url => spud_admin_media_path(),:html=>{:class=>"right_aligned_form", :multipart => true} do |f|%>
  <fieldset>
	  <legend>Upload Media</legend>
	  <ol>
		  <li>
		  <%=f.label :attachment, "Choose File"%>
		  <%=f.file_field :attachment%>
		  </li>
	  </ol>
  </fieldset>
    
    <fieldset class="submit"><%=f.submit%> or <%=link_to "cancel",request.referer%></fieldset>
  <%end%>

  <script type="text/javascript">
  	$('input[type=submit],.close_dialog').button();
  	
  </script>

