<%=error_messages_for(f.object)%>
<fieldset>

<div class="control-group">
  <%=f.label :name, :required=>true,:class=>"control-label"%>
  <div class="controls">
    <%=f.text_field :name,:title => "",:size=>40%>
  </div>
</div>


<div class="control-group">
  <%=f.label :base_layout, "Base Layout",:class=>"control-label"%>
  <div class="controls">
    <%=f.text_field :base_layout%>
  </div>
</div>
<div class="control-group">
  <%=f.label :content, "Content",:class=>"control-label"%>
  <div class="controls">
    <%=f.text_area :content, :rows => 20,:cols => 110%>
  </div>
</div>
<div class="control-group">
  <%=f.label :page_parts, "Page Parts",:class=>"control-label"%>
  <div class="controls">
    <%=f.text_field :page_parts%>
  </div>
</div>



</fieldset>


<script type="text/javascript">
	var editor = CodeMirror.fromTextArea(document.getElementById("spud_template_content"), {
        lineNumbers: true,
        mode: "application/x-ejs",
        matchBrackets: true,
        theme:'night'
      });
</script>